  <script>
    <% if logged_in? %>
    window.currentUser =
      <%= render('api/users/user.json.jbuilder', user: current_user).html_safe %>
    <% end %>

    window.hamburger = "<%= image_url('hamburger.png') %>"
    window.mutube = "<%= image_url('mutube.png') %>"
    window.magGlassDark = "<%= image_url('mag-glass-dark.png') %>"
    window.magGlassDarker = "<%= image_url('mag-glass-darker.png') %>"
    window.share = "<%= image_url('share.png') %>"
    window.sort = "<%= image_url('sort.png') %>"
    window.thumbsDown = "<%= image_url('thumbs-down.png') %>"
    window.thumbsUp = "<%= image_url('thumbs-up.png') %>"
    window.magGlass = "<%= image_url('mag-glass.png') %>"
    window.upload = "<%= image_url('upload.png') %>"
    window.blankUploadButton = "<%= image_url('blank-upload-button.png') %>"
  </script>

<main id='root'>
  µTube is alive! What are you doing back here?
</main>
